{% extends 'base.html.twig' %}

{% block body %}

    {{ include('_messages.html.twig') }}

    <h1>Forgotten password ?</h1>
    <p>Ask to reset your password by filling in your email.</p>

    {{form_start(form)}}

        {{form_row(form.email)}}

        <button  type="submit">Send</button>
        
    {{form_end(form)}}

{% endblock %}