<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>Password renew</title>

    </head>
    <body>

        <pre>
            Hello {{ mail.receiver.firstname }}, <br>
            Click on this link to change your password on Roadtripr:
            <a href="{{absolute_url(path('security.resetting', {'id': mail.receiver.id, 'token': mail.receiver.token}))}}">change the password</a>

        </pre>

    </body>

</html>