{% extends 'base.html.twig' %}

{% block body %}

    {{ include('_messages.html.twig') }}
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <h1 class="text-center">Forgotten password ?</h1>
            <div class="card">
              <div class="card-body">

              <p>Ask to reset your password by filling in your email.</p>

              {{form_start(form)}}

                  {{form_row(form.email)}}

                  <button type="submit" class="btn btn-primary">Send</button>

              {{form_end(form)}}
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
