{% extends 'base.html.twig' %}

{% block body %}

    <h1>Renew password</h1>

    {{form_start(form)}}

        {{ form_row(form.password) }}
        <button class=""  type="submit">Send</button>

    {{form_end(form)}}

{% endblock %}