<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>Password renew</title>

    </head>
    <body>

        <pre>
            Hello {{ user.firstname }}, <br>
            Click on this link to change your password :
            <a href="{{absolute_url(path('security.resetting', {'id': user.id, 'token': user.token}))}}">change the password</a>

        </pre>

    </body>

</html>