Hello {{ user.firstname }},

We are delighted to welcome you to the first free spirit trip community! 

Following the confirmation of your account, you can now enjoy all the Roadtrip features. To improve the Roadtrip exprerience, complete your profile : 
<a href="{{ url('user.dashbord') }}" class="btn btn-primary">CONFIRM REGISTRATION</a>


