{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : update a fuel
    
{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Fuel update</h1>

        {{ include('backend/fuel/_form.html.twig') }}
        
    </div>

{% endblock %}