{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create a fuel

{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create a fuel</h1>

        {{ include('backend/fuel/_form.html.twig') }}

    </div>

{% endblock %}
