<pre>

    Hi {{ mail.receiver.firstname }}!

    {{ mail.sender.firstname }} contacted you to book your vehicle. 

    Click <a href="{{ url('communication.messages') }}">here</a> to manage the request.

</pre>