{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : duration update

{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Duration update</h1>

        {{ form_start(form) }}

            {{ form_rest(form) }}

            {{ include('backend/season/_form.html.twig') }}
            
        {{ form_end(form) }}
        
    </div>

{% endblock %}