{% extends 'base.html.twig' %}

{% block title %} Gérer les types de durée {% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Editer le type de durée</h1>

        {{ include('backend/duration/_form.html.twig', { button: 'Editer' }) }}
        
    </div>

{% endblock %}