{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create a duration

{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create a new duration</h1>

        {{ include('backend/season/_form.html.twig') }}

    </div>

{% endblock %}
