{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create an equipment
    
{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create an equipment</h1>

        {{ include('backend/equipment/_form.html.twig') }}

    </div>

{% endblock %}
