//
.ui-widget-content{
  background-color: $gray !important;
  border-radius: 50px !important;
  height: 4px !important;
}
.ui-widget-header {
  background-color: $gray !important;
}
.ui-state-default{
  border:1px solid $gray !important;
  background-color: $white !important;
}
.ui-corner-all{
  border-radius: 50px !important;
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:visited,
  &.visited {
    outline: 0 !important;
  }
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.5em !important;
    margin-left: -0.1em !important;
    &:focus,
    &.focus,
    &:active,
    &.active,
    &:visited,
    &.visited {
      outline: 0 !important;
    }
}
// custom
.value {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
  font-size: 0.9rem;
  color: $gray;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none;
}

.value i {
  font-style: normal;
}
