
%selectStyle{
	display:flex;
  top:0;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:center;
  border: 1px solid $gray;
  border-radius: $border-radius;
  background-color: $white;
  padding: 11px 17px;
  font-size: 0.9rem;
  font-weight: normal;
  color:$gray-600;
  line-height: 1.7;
  letter-spacing: 1;
  -webkit-appearance: none;
	outline: none;

	&:active{
		border-color: $orange;
		&:after{
			transform:rotate(-180deg);
		}
	}
	&:focus{
		outline: none;
		border-color: $orange;
		&:after{
			transform:rotate(-180deg);
		}
	}
}
.select{
	outline:none;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 1em;
  color: $gray-600;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 16px;
  &.isActive{
		z-index:999;
		.select-styled{
			border-color: $orange;
			&:after{
				transform:rotate(-180deg);
			}
		}
	}
	position: relative;
}
.select-hidden{
	width: 100%;
	display: block;
	@extend %selectStyle;
	@media screen and (min-width:921px) {
		width:0;
		height:0;
		opacity: 0;
		transform:scale(0,0);
		overflow:hidden;
		pointer-events:none;
		margin-top: 0;
		padding-right: 0;
		position: absolute;
	}
}
.select{
	@media screen and (max-width:920px) {
		position: relative;
		&:after{
			position: absolute;
			top: calc(50% - 2.5px); right: 20px;;
			content:"";
			display:block;
			width:0; height:0;
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: $gray-600 transparent transparent transparent;
			transition:transform .2s ease;
		}
	}
}
.select-styled{
	@media screen and (max-width:920px) {
		display: none;
	}
	@extend %selectStyle;

	&:after{
		content:"";
		display:block;
		width:0; height:0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: $gray-600 transparent transparent transparent;
		transition:transform .2s ease;
	}

	.isActive{
		border-color: $orange;
		&:after{
			transform:rotate(-180deg);
		}
	}
}
.select-options{
	width: 100%; height: 0;
  max-height: 230px; overflow: auto;
	padding: 12px 0 12px 0;
	margin: 0 0 0 0;
	list-style:none;
	pointer-events:none;
	opacity:0;
  z-index: 999;
  border: 1px solid $orange;
  border-radius: $border-radius;
  background-color: $white;
  font-size: 0.9rem;
  font-weight: normal;
  color:$gray-600;
  line-height: 1.8;
  letter-spacing: 1;
	transform: translateY(-10px);
	transform-origin: center;
	transition: transform .2s ease, opacity .2s, height 0s .2s linear;

	position: absolute;
	top: 60px; left: 0;
	.isActive &{
		opacity:1;
		transform: translateY(0);
		pointer-events: auto;
		transition: transform .2s ease, opacity .2s;
	}

	li{
		padding: 14px 24px;
		font-weight: normal;
		letter-spacing:1px;
		cursor:pointer;
    line-height: 1;
    color: $gray-600;
    font-size: 0.9rem;
    letter-spacing: 1;
		&:hover{
			color: $orange;
		}
		&:focus{
			border:1px solid $red;
			outline: 0;
			box-shadow: none;
		}
		&.isActive{
			font-weight: bold;
		}
	}
}
