<div>

    Une nouvelle évaluation est en attente d'approbation :
    
</div>

<div class="row">

    <div class='col'>

        Type :
    
    </div>

    <div class='col'>

        {{ rating.type }}
    
    </div>

</div>

<div class="row">

    <div class='col'>

        Location confirmée : 
    
    </div>

    <div class='col'>

        {% if rating.rentalConfirmation %}

            Oui
            
        {% else %}

            Non
            
        {% endif %}
    
    </div>

</div>

<div class="row">

    <div class='col'>

        Score : 
    
    </div>

    <div class='col'>

        {{ rating.score }}
    
    </div>

</div>

<div class="row">

    <div class='col'>

        Commentaire : 
    
    </div>

    <div class='col'>

        {{ rating.comment }}
    
    </div>

</div>

<div>

    Vous pouvez gérer le suivi des évaluations en attente d'approbation en cliquant <a href="{{ url('backend.rating.toApprove') }}">ici</a>

</div>