{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : update a FAQ category
    
{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Category update</h1>

        {{ include('backend/faq/category/_form.html.twig') }}
        
    </div>

{% endblock %}