{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create a FAQ category

{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create a FAQ category</h1>

        {{ include('backend/faq/category/_form.html.twig') }}

    </div>

{% endblock %}
