{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : update a FAQ question
    
{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Question update</h1>

        {{ include('backend/faq/question/_form.html.twig') }}
        
    </div>

{% endblock %}