{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create a FAQ question

{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create a FAQ question</h1>

        {{ include('backend/faq/question/_form.html.twig') }}

    </div>

{% endblock %}
