{% extends 'base.html.twig' %}

{% block title %}Gérer les annonces{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Créer une nouvelle annnonce</h1>

        {{ include('advert/_form.html.twig', { button: 'Créer' }) }}

    </div>

{% endblock %}
