{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Management of your subscription
    
{% endblock %}

{% block body %}

    <div class='container mt-4'>

        {{ include('_messages.html.twig') }}

        <h1>Choose your subscription</h1>

        <div class="row">

            {% for subscription in subscriptions %}
            
                <div class="col-md-4">

                        {{ include('advert/_subscription.html.twig', { 'subscription': subscription, 'vat': vat }) }}

                </div>
                
            {% endfor %}
            
        </div>

    </div>
    
{% endblock %}