{% extends 'base.html.twig' %}

{% block title %}Gérer les types de véhicule{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Créer un nouveau type de véhicule</h1>

        {{ include('backend/sort/_form.html.twig', { button: 'Créer' }) }}

    </div>

{% endblock %}
