{% extends 'base.html.twig' %}

{% block title %}Gérer les TVA{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Créer une nouvelle TVA</h1>

        {{ include('backend/vat/_form.html.twig', { button: 'Créer' }) }}

    </div>

{% endblock %}
