<div class="card mb-4">

    <div class="card body">

        <h5 class="card-title">

            <a href="{{ path('advert.show', { slug: rating.booking.vehicle.advert.slug, id: rating.booking.vehicle.advert.id } ) }}">

                {{ rating.booking.vehicle.advert.title }}

            </a>

        </h5>

        <p class="card-text">Score : {{ rating.score }}</p>
        
        {% if rating.comment %}

            <p class="card-text">Comment :{{ rating.comment | nl2br }}</p>

        {% endif %}

    </div>

</div>