{% extends 'base.html.twig' %}

{% block title %} Gérer les évaluations {% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>Editer l'évaluation</h1>

        {{ include('rating/_form.html.twig', { button: 'Editer' }) }}
        
    </div>

{% endblock %}