{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend : create a mark

{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Create a mark</h1>

        {{ include('backend/mark/_form.html.twig') }}

    </div>

{% endblock %}
